h1 =t('home.tags_cloud.title')
.cloud-container
  -@tags_cloud.each do |tag|
    a class='#{tag[:class]}' =tag[:tag].name
h1 =t('home.last_posts.title')
= render @posts
h1 =t('home.last_events.title')
= render @events
h1 =t('home.last_videos.title')
= render @videos