html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
.content-wrap {
    margin-bottom: 15px;
}
.create_btn {
    margin-bottom: 5px;
}
.tag-badge {
    margin-left: 1px;
    margin-right: 1px;
}
.tag-badge:focus, .tag-badge:hover {
    text-decoration: none;
}
@media (min-width: 768px) {
    .container {
        max-width: 1000px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
.date_container {
    font-size: 12px;
}
.cloud-container{
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}
.tag-wrap{
    text-align: center;
    display: inline;
    font-size: 24px;
    margin: 0 20px;
}
.cloud_1 {
    font-size: 60px;
}
.cloud_2 {
    font-size: 48px;
}
.cloud_3 {
    font-size: 36px;
}
.cloud_4 {
    font-size: 24px;
}
.cloud_5 {
    font-size: 16px;
}
img.modal_view {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
img#page_image {
    max-width: 300px;
    height: auto;
}